@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image-wrapper-3d {
  perspective: 1000px;
}

.sliding-icons {
  animation: scroll-left 40s linear infinite;
}
