@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.image-wrapper-3d {
  perspective: 1000px;
}

.sliding-icons {
  animation: scroll-left 40s linear infinite;
}

@keyframes keyframes-down {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-down {
  animation: keyframes-down 0.5s ease-out forwards;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slide-in-left 0.7s ease-out forwards;
}

.animate-slide-in-right {
  animation: slide-in-right 0.7s ease-out forwards;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: hsl(var(--primary));
  }
}

.typing-cursor {
  display: inline-block;
  width: 1px;
  margin-left: 2px;
  border-right: 3px solid hsl(var(--primary));
  animation: blink-caret 0.75s step-end infinite;
}

.typing-cursor.blink {
   animation: blink-caret 0.75s step-end infinite;
}
